<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <meta charset="utf-8">
    <title>Gem Store</title>
    <link rel="stylesheet/less" href="assets/libs/bootstrap/bootstrap.css" media="screen">
  </head>
  <body ng-controller="StoreController as store">

    <h1>{{"Hello, Angular!"}}</h1>

    <div class="product" ng-hide="product.soldOut" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <em>{{product.price}}</em>
      </h3>
      <button type="button" name="button" ng-show="product.canPurchase">Add to Cart</button>
    </div>

    <script src="assets/libs/angular/angular.js" charset="utf-8"></script>
    <script src="assets/libs/jquery/jquery.js" charset="utf-8"></script>
    <script src="assets/libs/bootstrap/bootstrap.js" charset="utf-8"></script>
    <script src="app/app.js" charset="utf-8"></script>
  </body>
</html>
